{% extends 'base.html.twig' %}
{% block title %}Cart{% endblock %}
{% block main %}

        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path ('index') }}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{{ path ('productlist') }}">Products</a></li>
                    <li class="breadcrumb-item active">Cart</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        
        <!-- Cart Start -->
        <div class="cart-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                        {% if panier|length > 0 %}
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                                <tbody class="align-middle">
                                    
                                        {% for item in panier %} 
                                            <tr>
                                                <td><a href="#"><img src="/assets/img/product-1.png" alt="Image"></a></td>
                                                <td><a href="#">{{ item.produit.nom }}</a></td>
                                                <td>{{ item.produit.prix | number_format(2, ',','.') }} €</td>
                                                <td>
                                                    <div class="qty">
                                                        {# <button class="btn-minus"><i class="fa fa-minus"></i></button> #}
                                                        {# ajouter un form ?  #}
                                                        {{ item.quantite }}
                                                        {# <button class="btn-plus"><i class="fa fa-plus"></i></button> #}
                                                    </div>
                                                </td>
                                                <td>{{ (item.quantite * item.produit.prix) | number_format(2, ',','.') }}€</td>
                                                {# <td><button><i class="fa fa-trash"></i></button></td> #}
                                                <td><a href="{{ path ('removeProduitPanier', {id: item.id}) }}"><button class="btn"><i class="fa fa-trash"></i></button></a></td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                    <div class="alert alert-info">
                                        Your cart is empty. Go to the <a href="{{ path('productlist') }}">product list</a>.
                                    </div>
                                    {% endif %}
                                    
                                    
                                 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
                {% if panier|length > 0 %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="coupon">
                            <input type="text" placeholder="Coupon Code">
                            <button>Apply Code</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="cart-summary">
                            <div class="cart-content">
                                <h3>Cart Summary</h3>
                                <p>Sub Total<span>{{ total | number_format(2, ',','.') }} €</span></p>
                                <p>Shipping Cost<span>5 €</span></p>
                                <h4>Grand Total<span>{{ (total + 5) | number_format(2, ',','.') }} €</span></h4>
                            </div>
                            {% if adresse == null %}
                            <div class="cart-btn">
                                <p> Veuillez entrer une adresse pour pouvoir confirmer votre commande </p>

                                <a href="{{ path ('user_adresse') }}"><button class="btn">Ajouter une adresse</button></a>
                            </div>
                            {% elseif adresseLivraison == null %}
                                <p> Veuillez entrer une adresse de livraison pour pouvoir confirmer votre commande </p>

                                <a href="{{ path ('user_adresse_livraison') }}"><button class="btn">Ajouter une adresse de livraison</button></a>
                            {% else %}
                                <div class="cart-btn">
                                {# <button>Update Cart</button> #}
                                    <a href="{{ path ('checkout') }}"><button class="btn">Checkout</button></a>
                                </div>
                                
                            {% endif %}
                            
                            
                        </div>
                    </div>
                    {% else %}
                        <div> </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- Cart End -->
{% endblock %}