{% extends 'base.html.twig' %}
{% block title %}Checkout{% endblock %}
{% block main %}
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path ('index') }}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{{ path ('productlist') }}">Products</a></li>
                    <li class="breadcrumb-item active">Checkout</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        
        <!-- Checkout Start -->
        <div class="checkout">
            <div class="container"> 
                <div class="row">
                    <div class="col-md-7">
                        <div class="billing-address">
                            <h2>Billing Address</h2>
                            <div class="row">
                                <div class="col-md-6">
                                    <p>{{app.user.prenom}} {{app.user.nom}} </p>
                                </div>
                               
                                <div class="col-md-6">
                                    <p>{{app.user.telephone}} </p>
                                </div>
                                <div class="col-md-12">
                                    <p>{{adresse.rue}}, n°{{adresse.numero}} {{adresse.boite}}</p>
                                        <p>{{adresse.codePostal}}, {{adresse.ville}}</p>
                                        <p>{{adresse.pays}}</p>
                                </div>
                            
                            
                                <div class="col-md-12">
                                    <div class="custom-control custom-checkbox">
                                        <a href="{{ path ('user_adresse_update')}}"><button class="btn">Update</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="billing-address">
                            <h2>Shipping Address</h2>
                            <div class="row">
                                <div class="col-md-6">
                                    <p>{{app.user.prenom}} {{app.user.nom}} </p>
                                </div>
                               
                                <div class="col-md-12">
                                    <p>{{adresseLivraison.rue}}, n°{{adresseLivraison.numero}} {{adresseLivraison.boite}}</p>
                                        <p>{{adresseLivraison.codePostal}}, {{adresseLivraison.ville}}</p>
                                        <p>{{adresseLivraison.pays}}</p>
                                </div>
                            
                            
                                <div class="col-md-12">
                                    <div class="custom-control custom-checkbox">
                                        <a href="{{ path ('user_adresse_livraison_update')}}"><button class="btn">Update</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                       
                    </div>
                    <div class="col-md-5">
                        <div class="checkout-summary">
                            <h2>Cart Total</h2>
                            <div class="checkout-content">
                                <h3>Products</h3>
                                {% for item in panier %}
                                    <p>{{ item.produit.nom }} x {{item.quantite}} <span> {{ (item.quantite * item.produit.prix) | number_format(2, ',','.') }}€</span></p>
                                {% endfor %}
                                
                                
                                <p class="sub-total">Sub Total<span>{{ total | number_format(2, ',','.') }} €</span></p>
                                <p class="ship-cost">Shipping Cost<span>$5</span></p>
                                <h4>Grand Total<span>{{ (total + 5) | number_format(2, ',','.') }} €</span></h4>
                            </div>
                        </div>
                        
                        <div class="checkout-payment">
                            <h2>Payment Methods</h2>
                            <div class="payment-methods">
                                <div class="payment-method">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="payment-1" name="payment">
                                        <label class="custom-control-label" for="payment-1">Paypal</label>
                                    </div>
                                    <div class="payment-content" id="payment-1-show">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                        </p>
                                    </div>
                                </div>
                                <div class="payment-method">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" id="payment-2" name="payment">
                                        <label class="custom-control-label" for="payment-2">Bitcoin</label>
                                    </div>
                                    <div class="payment-content" id="payment-2-show">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt orci ac eros volutpat maximus lacinia quis diam.
                                        </p>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="checkout-btn">
                                <a href="{{ path ('place_order')}}"><button class="btn">Place Order</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Checkout End -->
{% endblock %}
        
      