{% extends 'base.html.twig' %}
{% block title %}{{ produit.nom }}{% endblock %}
{% block main %}
        
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path ('index') }}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{{ path ('productlist') }}">Products</a></li>
                    <li class="breadcrumb-item active">product details</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        
        <!-- Product Detail Start -->
        <div class="product-detail">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row align-items-center product-detail-top">
                            <div class="col-md-5">
                                <div class="product-slider-single">
                                    <img src="/assets/img/product-1.png" alt="Product Image">
                                    <img src="/assets/img/product-2.png" alt="Product Image">
                                    <img src="/assets/img/product-3.png" alt="Product Image">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="product-content">
                                    <div class="title"><h2>{{ produit.nom }}</h2></div>
                                    
                                    <div class="price">{{ produit.prix | number_format(2)}} <span></span></div>
                                    <div class="details">
                                        <p>
                                            {{ produit.description }}
                                        </p>
                                    </div>

                                     <div class="quantity">
                                        <p><h4>Quantity: {{ produit.quantiteStock }}</h4> </p>
                                        <div class="qty">
                                            {# <button class="btn-minus"><i class="fa fa-minus"></i></button>
                                            <input type="text" value="1">
                                            <button class="btn-plus"><i class="fa fa-plus"></i></button> #}
                                            {% if app.user %}
                                            <form action="{{ path ('addToCart', {id: produit.id}) }}" method="POST">
                                                Quantité souhaitée : <input type="number" name="quantite">
                                                <button type="submit"><i class="fa fa-cart-plus"></i></button> 
                                            </form>
                                            {% endif %}
                                            
                                        </div>
                                    </div>
                                    {# <div class="action">
                                        <button type="submit" name="addPanier"><a href="{{ path ('addToCart', {id: produit.id}) }}"><i class="fa fa-cart-plus"></i></a></button>
                                        <button type="submit" name="addWish"><a href="#"><i class="fa fa-heart"></i></a></button>
                                    </div> #}
                                 
                                </div>
                            </div>
                        </div>
                        
                        <div class="row product-detail-bottom">
                            <div class="col-lg-12">
                                <ul class="nav nav-pills nav-justified">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="pill" href="#description">Description</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="pill" href="#specification">Specification</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="pill" href="#reviews">Reviews ({{reviews | length}})</a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div id="description" class="container tab-pane active"><br>
                                        <h4>Product description</h4>
                                        <p>
                                            {{produit.description}} 
                                        </p>
                                    </div>
                                    <div id="specification" class="container tab-pane fade"><br>
                                        <h4>Product specification</h4>
                                        <ul>
                                            <li>Couleur : {{ produit.couleur }}</li>
                                            <li>Quantité en stock : {{ produit.quantiteStock }}</li>
                                        </ul>
                                    </div>
                                    <div id="reviews" class="container tab-pane fade"><br>
                                        {% if reviews %}
                                            {% for review in reviews %}
                                            <pre>
                                               
                                            </pre>
                                                <div class="reviews-submitted">
                                                    <div class="reviewer">{{review.user.nom}} {{review.user.prenom}} - <span>{{review.dateEvaluation.format('d/m/y')}}</span></div>
                                                    <div class="ratting">
                                                        {% for i in 0.. review.note %}
                                                            <i class="fa fa-star"></i>
                                                        {% endfor %}
                                                    
                                                    </div>
                                                    <p>
                                                        {{ review.commentaire }}
                                                    </p>
                                               </div>
                                                <hr>
                                            {% endfor %}

                                        {% else %}
                                            <div>
                                                <p>Cet article n'a pas encore de review !</p>
                                            </div>
                                        {% endif %}
                                        
                                        

                                        {# A afficher que si la personne qui est loguée à déjà validé une commande avec ce produit. #}
                                        {% if isCommande %}
                                            <div class="reviews-submit">
                                                <h4>Give your Review:</h4>
                                                <div class="row form">
                                                    <div class="col-sm-6">
                                                    <p> Nom et prénom : {{app.user.nom}} {{app.user.prenom}} </p>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <p>{{app.user.email}} </p>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <form action="{{ path ('add_review', {id: produit.id}) }}" method="POST">
                                                            <div class="col-sm-12">
                                                                <textarea placeholder="Review" name="review"></textarea>
                                                                
                                                            </div>
                                                            <div class="col-sm-12">
                                                                Note du 5 : <input type="number" min="0" max="5" name="note">
                                                            </div>
                                                            <div class="col-sm-12">
                                                                <button class="btn">Submit</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div>
                                                <p>Vous pouvez laisser un avis sur ce produit uniquement si vous êtes connecté et si vous l'avez déjà commandé :-)</p>
                                                <a href="{{ path ('login') }}"><button class="btn">Se logguer</button></a>
                                            </div>
                                        
                                        {% endif %}
                                        
                                        
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                
                    </div>
                    
                 
                </div>
            </div>
        </div>
        <!-- Product Detail End -->
{% endblock %}