{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block main %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
<!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path ('index') }}">Home</a></li>
                    <li class="breadcrumb-item active">Register</li>
                </ul>
            </div>
        </div>
<!-- Breadcrumb End -->
{% if app.user %}
<div class="container">
<div class="row">
        <div class="col-md-6">                
            <div class="register-form">
                <div class="row">
                <div class="col-md-6">  
                    <p>Vous avez déjà un compte.</p>
                    <p><a href="{{ path ('logout') }}"><button class="btn">Logout</button></a></p>
                    <p><a href="{{ path ('productlist') }}"><button class="btn">Product</button></a></p>
					<p><a href="{{ path ('cart') }}"><button class="btn">Cart</button></a></p>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
{% else %}
    

{{ form_start(registrationForm) }}
 <!-- Login Start -->
        <div class="login">
            <div class="container">
                <div class="section-header">
                    <h3>User Registration</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra at massa sit amet ultricies. Nullam consequat, mauris non interdum cursus
                    </p>
                </div>
  
 <div class="row">
        <div class="col-md-6">                
            <div class="register-form">
                <div class="row">
                                <div class="col-md-12">
                                    {{ form_row(registrationForm.prenom) }}
                                </div>
                                 <div class="col-md-12">
                                    {{ form_row(registrationForm.nom) }}
                                   
                                </div>
                                 <div class="col-md-12">
                                    {{ form_row(registrationForm.telephone) }}
                                </div>
                            
                                <div class="col-md-12">
                                     {{ form_row(registrationForm.email) }}
                                    {{ form_row(registrationForm.plainPassword, {
                                            label: 'Password'
                                    }) }}
                                </div>
                                <div class="col-md-12">
                                    {{ form_row(registrationForm.sexe) }}
                                    {{ form_row(registrationForm.dateNaissance) }}
                                </div>
                                <div class="col-md-12">
                                    
                                    {{ form_row(registrationForm.agreeTerms) }}
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn">Register</button>
                                </div>
                </div>
            </div>
                
    </div>
</div>
   </div>
</div>
       
        <!-- Login End -->
 {{ form_end(registrationForm) }}

{% endif %}
   
{% endblock %}

