{% extends 'base.html.twig' %}
{% block title %}My account{% endblock %}
{% block main %}
 <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path ('index') }}">Home</a></li>
                    <li class="breadcrumb-item active">My Account</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        
        <!-- My Account Start -->
        <div class="my-account">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                            <a class="nav-link" href="{{ path ('myaccount') }}">Dashboard</a>
                            <a class="nav-link" href="{{ path ('user_orders') }}">Orders</a>
                            <a class="nav-link active" id="payment-nav" data-toggle="pill" href="#payment-tab" role="tab">Payment Method</a>
                            <a class="nav-link" href="{{ path ('user_adresse') }}">Address</a>
                            <a class="nav-link" href="{{ path ('user_adresse_livraison') }}">Shipping address</a>
                            <a class="nav-link" id="account-nav" data-toggle="pill" href="#account-tab" role="tab">Account Details</a>
                            <a class="nav-link" href="{{ path ('logout') }}">Logout</a>
                        </div>
                    </div>


                    <div class="col-md-9">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="address-tab" role="tabpanel" aria-labelledby="address-nav">
                                <h4>Payment Method</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                      {{ form_start (formulaireCarteBancaire) }}
                                      {{ form_widget (formulaireCarteBancaire) }}
                                        <input type="submit" class="btn" value="Envoyer" />
                                      {{ form_end (formulaireCarteBancaire) }}
   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
 </div>
            </div>
        </div>
        <!-- My account address End -->
 {% endblock %}